@import "./variables";

@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,500&display=swap');

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: $headerclr;
    color: green;
    padding: 1em 1em;

    h4{
        margin-top: 1em;
        font-size: 1.2rem;
        color: $textclr;
        font-family: 'Finlandica', sans-serif;
        letter-spacing: 2px;
    }
    h3{
        font-size: .9rem;
    }

    small{
        margin-bottom: 1em;
        color: $textclr;
    }

    .partnership--div{

        a{
            color: $logoclr;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }

        display: flex;
        width: 100%;
        justify-content: center;
        gap: 2em;

        i{
            color: rgb(185, 181, 181);
        }

        .partner{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5em;
            cursor: pointer;
        }
    }
    .logo--div{
        padding-left: 1.5em;
        width: 100%;
        display: flex;
        justify-content: flex-start;

        h3{
            font-size: 1.125rem;
        }
    }
}

@media screen and (max-width:800px) {
    .footer{
        .partnership--div{
            gap: 1em;
        }

        .logo--div{
            padding: 0;
            width: 100vw;
            padding-left: 1em;
        }
    }
}
