@import "./variables";

@mixin flex($direction) {
    display: flex;
    justify-content: flex-start;
    flex-direction: $direction;
}

.header{
    height: 5rem;
    background-color: $headerclr;
    color: $textclr;
    position: fixed;
    width: 100%;
    padding-inline: 5%;
    z-index: 10;
    @include flex(row);
    align-items: center;
    justify-content: space-between;

    &--logo{
        @include flex(column);
        justify-content: center;
        align-items: center;
        gap: .5em;
        color: transparent;

        &__name{
            position: relative;
            font-weight: 600;
            color: $textclr;
            font-size: 1rem;
            letter-spacing: .05em;

            &::after{
                content: "";
                position: absolute;
                top: -.1em;
                left: 0;
                background-color: $logoclr;
                height: .125rem;
                width: 100%;
            }
        }
    }
    &--searchfield{
        background-color: $logoclr;
        height: 2rem;
        width: 25rem;
        padding-right: .5em;
        @include flex(row);

        input{
            height: 100%;
            width: 90%;
            margin-right: .5em;
            text-indent: 1em;
            outline-color: $logoclr;
        }

        .fa-magnifying-glass{
            width: 10%;
            @include flex(row);
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
    &--login__link{
        font-weight: 400;
        letter-spacing: .1em;
        font-size: 1.125rem;
        letter-spacing: -0.1px;
        cursor: pointer;
    }

    &--cart{
        position: relative;
        @include flex(row);
        align-items: flex-end;
        cursor: pointer;
        color: transparent;
        

        .fa-cart-arrow-down{
            font-size: 2rem;
            color: $logoclr;
        }
        .product--quantity{
            position: absolute;
            top: -.5em;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;

            p{
                font-size: 1.5rem;
                letter-spacing: -.1em;
                color: rgb(255, 255, 255);
                font-weight: 600;
            }
        }
    }
}