@import "./variables";

@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

@mixin flex($direction) {
    display: flex;
    justify-content: flex-start;
    flex-direction: $direction;
}

.header{
    height: 5rem;
    background-color: $headerclr;
    color: $textclr;
    position: fixed;
    width: 100%;
    padding-inline: 5%;
    z-index: 10;
    @include flex(row);
    align-items: center;
    justify-content: space-between;

    &--logo{
        @include flex(column);
        justify-content: center;
        align-items: center;
        gap: .5em;
        color: transparent;

        .styled--s{
            color: $logoclr;
        }
        .styled--r{
            color: $logoclr;
        }

        &__name{
            position: relative;
            font-weight: 500;
            font-family: 'Finlandica', sans-serif;
            color: $textclr;
            font-size: 1.125rem;
            letter-spacing: -0.05em;

            &::after{
                content: "";
                position: absolute;
                top: -.1em;
                left: 0;
                background-color: $logoclr;
                height: .135rem;
                width: 100%;
            }
        }
    }
    &--searchfield{
        background-color: $logoclr;
        height: 2rem;
        width: 25rem;
        padding-right: .5em;
        @include flex(row);

        input{
            height: 100%;
            width: 90%;
            margin-right: .5em;
            text-indent: 1em;
            outline-color: $logoclr;
        }

        .fa-magnifying-glass{
            width: 10%;
            @include flex(row);
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
    &--login__link{
        font-weight: 400;
        letter-spacing: .1em;
        font-size: 1.125rem;
        letter-spacing: -0.1px;
        cursor: pointer;
        color: $textclr;
        text-decoration: none
    }

    .logout--cart__div{
        @include flex(row);
        gap: 1em;
        align-items: center;
    }


    .cart--container{
        @include flex(row);
        align-items: flex-end;

        .cart--title{
            font-weight: 500;
            font-family: 'Finlandica', sans-serif;
        }

        .header--cart {
                position: relative;
                @include flex(row);
                align-items: flex-end;
                cursor: pointer;
                color: transparent;
        
        
                .fa-cart-arrow-down {
                    font-size: 2rem;
                    color: $logoclr;
                }
        
                .product--quantity {
                    font-family: 'Roboto Slab', serif;
                    position: absolute;
                    top: -.5em;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
        
                    p {
                        font-size: 1.5rem;
                        letter-spacing: -.1em;
                        color: rgb(255, 255, 255);
                        font-weight: 600;
                    }
                }
            }
    }
}

@media screen and (max-width: 700px){
    .header {
        height: 12rem;
        @include flex(column);
        justify-content: center;
        gap: 1em;
        padding: 2em 0;

        &--logo{
            width: 100%;
            display: flex;
            align-items: flex-start;
            padding-left: .5em;
        }

        &--searchfield{
            // border: 1px solid red;
            width: 90%;
        }

        .logout--cart__div{
            // border: 1px solid red;
            width: 100%;
            padding: 0 .8em;
            @include flex(row-reverse);
            justify-content: space-between;
        }
    }
}