@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

@mixin flex($direction) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main{
    min-height: 100vh;
    position: relative;
    padding-top: 5em;
    padding-bottom: 2em;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--carousel{
        position: relative;
        height: 15rem;
        font-family: 'Fraunces', serif;
        width: 100%;
        @include flex(row);
        align-items: center;
        cursor: pointer;

        h1{
            text-align: center;
            color: rgb(230, 229, 229);
            width: 100%;
            padding: 0 1.5em;
            font-size: 2.5rem;
            font-weight: 500;
        }

        .fa-angle-left{
            color: $textclr;
            position: absolute;
            left: .2em;
            font-size: 4rem;
        }

        .fa-angle-right{
            color: $textclr;
            position: absolute;
            font-size: 4rem;
            right: .2em;
        }
    }
    &--categories__link{
        background-color: $headerclr;
        color: rgb(228, 225, 225);
        height: 6rem;
        width: 100%;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3{
            margin-top: .5em;
            color: rgb(216, 214, 214);
        }

        .category--container{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .8em;

            li{
                list-style: none;
                font-weight: 600;
                font-size: .9rem;
                background-color: $logoclr;
                padding: .2em .5em;
                cursor: pointer;
                transition: all 500ms ease-in-out;

                &:hover{
                    color: green;
                    background-color: white;
                }
            }
        }
    }

    .current--category{
        width: 93%;
        font-size: 1.25rem;
        text-align: left;
        // margin-left: 2.5em;
        margin-bottom: .5em;
    }

    .search--result__text{
        font-family: 'Roboto Slab', serif;
        font-size: 1.5rem;
        color: rgba(black, .8);
        text-align: center;
    }
    .go--back__button{
        margin-bottom: 2em;
        margin-top: 1em;
        padding: .5em 1em;
        background-color: green;
        color: white;
        font-weight: 600;
        border: none;
        transition: all 500ms ease-in-out;

        &:hover{
            background-color: black;
        }

    }
    .fa-spinner{
        left: 50%;
        color: $logoclr;
        font-size: 3rem;
        transform: translateX(-50%);
        animation-name: spinner;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    &--product__container{
        // border: 1px solid red;
        font-family: 'Poppins', sans-serif;
        display: grid;
        grid-template-columns: repeat(4, 300px);
        gap: 2em;
        place-content: center;

        .product{
            position: relative;
            padding: .5em .5em;
            background-color: white;
            display: flex;
            flex-direction: column;

            .image--div{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: 200px;
                    width: 80%;
                }
            }

            .category{
                position: absolute;
                top: 0;
                background-color: $logoclr;
                color: white;
                padding: .5em 1em;
                margin-top: .5em;
                margin-bottom: .5em;
                font-size: .6rem;
            }

            .name{
                margin-bottom: .5em;
            }

            .description--label{
                color: $logoclr;
            }

            .description{
                font-size: .7rem;
                margin-bottom: 2em
            }

            .product--price__div{
                @include flex(row);
                justify-content: space-between;

                .price{
                    font-weight: 500;
                    color: $logoclr;
                }

                .add--to--cart{
                    border: none;
                    background-color: $logoclr;
                    color: white;
                    padding: .5em .5em;
                    font-size: .7rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: All 500ms ease-in-out;

                    &:hover{
                        background-color: black;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

@keyframes spinner {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

@media screen and (max-width: 1300px) {
    .main {

        &--product__container {
            grid-template-columns: repeat(3, 300px);
        }
    }
}

@media screen and (max-width: 950px) {
    .main {

        &--product__container {
            grid-template-columns: repeat(2, 300px);
        }
    }
}

@media screen and (max-width: 800px) {
    .main{

        &--product__container{
            grid-template-columns: repeat(1, 300px);
        }
    }
}

@media screen and (max-width: 700px){
    .main{
        padding-top:12rem;
    }
}