@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap");
.header {
  height: 5rem;
  background-color: #232423;
  color: #c6c5c5;
  position: fixed;
  width: 100%;
  padding-inline: 5%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5em;
  color: transparent;
}

.header--logo__name {
  position: relative;
  font-weight: 600;
  color: #c6c5c5;
  font-size: 1rem;
  letter-spacing: .05em;
}

.header--logo__name::after {
  content: "";
  position: absolute;
  top: -.1em;
  left: 0;
  background-color: green;
  height: .125rem;
  width: 100%;
}

.header--searchfield {
  background-color: green;
  height: 2rem;
  width: 25rem;
  padding-right: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header--searchfield input {
  height: 100%;
  width: 90%;
  margin-right: .5em;
  text-indent: 1em;
  outline-color: green;
}

.header--searchfield .fa-magnifying-glass {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.header--login__link {
  font-weight: 400;
  letter-spacing: .1em;
  font-size: 1.125rem;
  letter-spacing: -0.1px;
  cursor: pointer;
}

.header--cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  color: transparent;
}

.header--cart .fa-cart-arrow-down {
  font-size: 2rem;
  color: green;
}

.header--cart .product--quantity {
  position: absolute;
  top: -.5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
}

.header--cart .product--quantity p {
  font-size: 1.5rem;
  letter-spacing: -.1em;
  color: white;
  font-weight: 600;
}

.main {
  position: relative;
  padding-top: 5em;
  padding-bottom: 2em;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main--carousel {
  position: relative;
  height: 15rem;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.main--carousel h1 {
  text-align: center;
  color: #e6e5e5;
  width: 100%;
  padding: 0 1.5em;
  font-weight: 500;
}

.main--carousel .fa-angle-left {
  color: #c6c5c5;
  position: absolute;
  left: .2em;
  font-size: 4rem;
}

.main--carousel .fa-angle-right {
  color: #c6c5c5;
  position: absolute;
  font-size: 4rem;
  right: .2em;
}

.main--categories__link {
  background-color: #232423;
  color: #e4e1e1;
  height: 6rem;
  width: 100%;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main--categories__link h3 {
  margin-top: .5em;
  color: #d8d6d6;
}

.main--categories__link .category--container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.main--categories__link .category--container li {
  list-style: none;
  font-weight: 600;
  font-size: .9rem;
  background-color: green;
  padding: .2em .5em;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.main--categories__link .category--container li:hover {
  color: green;
  background-color: white;
}

.main .current--category {
  width: 93%;
  font-size: 1.25rem;
  text-align: left;
  margin-bottom: .5em;
}

.main .search--result__text {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.main .go--back__button {
  margin-bottom: 2em;
  margin-top: 1em;
  padding: .5em 1em;
  background-color: green;
  color: white;
  font-weight: 600;
  border: none;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.main .go--back__button:hover {
  background-color: black;
}

.main .fa-spinner {
  left: 50%;
  color: green;
  font-size: 3rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main--product__container {
  font-family: 'Poppins', sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[4];
      grid-template-columns: repeat(4, 300px);
  gap: 2em;
  place-content: center;
}

.main--product__container .product {
  position: relative;
  padding: .5em .5em;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main--product__container .product .image--div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main--product__container .product .image--div img {
  height: 200px;
  width: 80%;
}

.main--product__container .product .category {
  position: absolute;
  top: 0;
  background-color: green;
  color: white;
  padding: .5em 1em;
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: .6rem;
}

.main--product__container .product .name {
  margin-bottom: .5em;
}

.main--product__container .product .description--label {
  color: green;
}

.main--product__container .product .description {
  font-size: .7rem;
  margin-bottom: 2em;
}

.main--product__container .product .product--price__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main--product__container .product .product--price__div .price {
  font-weight: 500;
  color: green;
}

.main--product__container .product .product--price__div .add--to--cart {
  border: none;
  background-color: green;
  color: white;
  padding: .5em .5em;
  font-size: .7rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: All 500ms ease-in-out;
  transition: All 500ms ease-in-out;
}

.main--product__container .product .product--price__div .add--to--cart:hover {
  background-color: black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .main--product__container {
    -ms-grid-columns: (300px)[2];
        grid-template-columns: repeat(2, 300px);
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  background-color: #232423;
  color: green;
  padding: 1em 1em;
}

.footer h4 {
  margin-top: 1em;
  font-size: 1.2rem;
}

.footer h3 {
  font-size: .9rem;
}

.footer small {
  margin-bottom: 1em;
}

.footer .partnership--div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
}

.footer .partnership--div i {
  color: #b9b5b5;
}

.footer .partnership--div .partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.footer .logo--div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .logo--div h3 {
  font-size: 1.125rem;
}

@media screen and (max-width: 800px) {
  .footer .partnership--div {
    width: 80%;
  }
}

button {
  cursor: pointer;
}

.cart--page {
  color: #232423;
  padding-top: 5em;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cart--page h3 {
  margin-top: 1em;
  font-size: 1.5rem;
}

.cart--page .items--container {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[3];
      grid-template-columns: repeat(3, 300px);
  gap: 1em;
  place-content: center;
}

.cart--page .items--container .cart--item {
  margin-top: 2em;
  padding: .5em 1em;
  width: 280px;
  background-color: white;
}

.cart--page .items--container .cart--item .cart--image__div {
  height: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cart--page .items--container .cart--item .cart--image__div img {
  height: 100%;
  width: 60%;
}

.cart--page .items--container .cart--item .item--name {
  margin-top: 1em;
}

.cart--page .items--container .cart--item .price--quantity {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart--page .items--container .cart--item .price--quantity p {
  color: #232423;
}

.cart--page .items--container .cart--item .price--quantity .quantity--edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: .5em;
}

.cart--page .items--container .cart--item .price--quantity .quantity--edit p {
  color: #232423;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
}

.cart--page .items--container .cart--item .price--quantity .quantity--edit button {
  height: 1rem;
  width: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 100%;
  background-color: #232423;
  color: #c6c5c5;
}

.cart--page .items--container .remove--btn__div {
  width: 100%;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart--page .items--container .remove--btn__div .item--total {
  color: green;
}

.cart--page .items--container .remove--btn__div .remove--btn {
  background-color: green;
  color: white;
  padding: .2em 1em;
  border: none;
  border-radius: 100vmax;
}

.cart--page .total--price__div {
  width: 90%;
  margin-block: 2em;
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart--page .total--price__div p {
  font-weight: 600;
}

.cart--page .total--price__div p .total--price {
  color: green;
}

.cart--page .total--price__div .button--div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.cart--page .total--price__div .button--div button {
  background-color: #232423;
  color: white;
  padding: .4em 1em;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .cart--page .items--container {
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #e8e8e8;
}

body .go--up__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
  cursor: pointer;
}

body .go--up__div .go--up__button {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232423;
  border-radius: 100%;
  margin-bottom: 1em;
  right: 0;
}

body .go--up__div .go--up__button a {
  color: white;
}

body .go--up__div .go--up__button i {
  font-size: 2rem;
}
/*# sourceMappingURL=root.css.map */